.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters div {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
